html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}
body {
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  font-weight: normal;
  color: #3c3c3c;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f1f1f1;
}
main {
  padding: 0 7.5%;
}
@media (min-width: 599px) {
  main {
    padding: 0 15%;
  }
}
#page-header {
  font-size: 20px;
}
#primary-nav {
  background-color: #084B7F;
  padding: 0 15%;
}
#logo a {
  color: #f1f1f1;
  line-height: 2.5;
}
#logo .cursor-white:after {
  background-color: #f1f1f1;
  color: #f1f1f1;
  content: "\2013";
}
.social-icon-nav {
  display: block;
  float: right;
  height: 30px;
  margin: 10px 15px 0 0;
}
#social-icon-mobile {
  background-color: #084B7F;
  padding-left: 7.5%;
}
#social-icon-mobile a {
  display: inline-block;
  vertical-align: top;
}
.social-icon-mobile {
  height: 30px;
  margin: 10px 15px 10px 0;
  display: block;
}
@media (max-width: 599px) {
  .social-icon-nav {
    display: none;
  }
}
@media (min-width: 599px) {
  #social-icon-mobile {
    display: none;
  }
  .social-icon-nav-dropdown {
    display: none;
  }
}
#secondary-nav {
  text-align: center;
  overflow: hidden;
  clear: both;
}
#secondary-nav ul {
  list-style: none;
  list-style-image: none;
}
#secondary-nav ul li#selected-category {
  background-color: #084B7F;
}
#secondary-nav ul li#selected-category a {
  color: #f1f1f1;
}
#secondary-nav ul li:not(#selected-category):hover {
  background-color: #e4e4e4;
}
#secondary-nav ul li {
  display: inline-block;
  text-align: center;
  width: 5em;
}
#secondary-nav ul li a {
  line-height: 1.8;
  display: inline-block;
  width: 100%;
}
@media (max-width: 599px) {
  #primary-nav {
    padding: 0 7.5%;
  }
  #secondary-nav {
    height: 0;
    margin-top: 2px;
  }
  #secondary-nav ul li {
    display: block;
    width: 100%;
  }
  #secondary-nav ul li a {
    line-height: 2.2;
  }
}
.hamburger-icon {
  display: block;
  width: 40px;
  height: 30px;
  float: right;
  margin-top: 10px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #f1f1f1;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.hamburger-icon span:nth-child(1) {
  top: 0px;
}
.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
  top: 12px;
}
.hamburger-icon span:nth-child(4) {
  top: 24px;
}
.hamburger-icon.hamburger-icon-open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
.hamburger-icon.hamburger-icon-open span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger-icon.hamburger-icon-open span:nth-child(3) {
  transform: rotate(-45deg);
}
.hamburger-icon.hamburger-icon-open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}
@media (min-width: 599px) {
  .hamburger-icon {
    display: none;
  }
}
#profile-img {
  background-color: #f1f1f1;
  margin: 0 0 5% 0;
  padding: 5px;
  width: 190px;
  display: inline-block;
  vertical-align: top;
}
.social-icon {
  height: 35px;
  margin: 15px 5px;
}
#profile-snippet {
  color: #f1f1f1;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 80%;
}
#page-footer {
  padding: 25px 7.5%;
  background-color: #084B7F;
  margin-top: 5%;
  font-size: 20px;
}
#page-footer h1 {
  color: #f1f1f1;
  font-size: 160%;
  margin-bottom: 25px;
  display: block;
}
#page-footer a {
  color: #9ac8ec;
}
#page-footer a:hover {
  color: #f1f1f1;
}
@media (min-width: 599px) {
  #page-footer {
    padding: 25px 15%;
  }
}
@media (min-width: 900px) {
  #profile-snippet {
    width: 60%;
  }
  #profile-img {
    margin: 0 2% 0 4%;
  }
}
#article-header-title {
  font-style: italic;
  line-height: 1.2;
}
#article-header-subtitle {
  color: #a4a4a4;
  font-style: italic;
  line-height: 1.2;
}
@media (max-width: 599px) {
  #article-header {
    margin: 10% 0;
  }
  #article-header-title {
    font-size: 200%;
    margin: 2.5% 0;
  }
  #article-header-subtitle {
    font-size: 150%;
    margin: 0;
  }
  #article-header-date {
    font-size: 90%;
  }
}
@media (min-width: 599px) {
  #article-header {
    margin: 7% 0;
  }
  #article-header-title {
    font-size: 250%;
    margin: 1.5% 0 1.5% 4%;
  }
  #article-header-subtitle {
    font-size: 175%;
    margin: 0 0 0 9%;
  }
  #article-header-date {
    font-size: 100%;
  }
}
@media (min-width: 900px) {
  #article-header {
    margin: 5% 0;
  }
  #article-header-title {
    font-size: 275%;
    margin: 1.5% 0 1.5% 4%;
  }
  #article-header-subtitle {
    font-size: 175%;
    margin: 0 0 0 9%;
  }
  #article-header-date {
    font-size: 120%;
  }
}
#article-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#recent-posts {
  display: none;
  vertical-align: top;
}
@media (min-width: 900px) {
  #article-content {
    width: 62%;
  }
  #recent-posts {
    width: 38%;
    padding-left: 4%;
    display: inline-block;
  }
}
#article-image-banner {
  margin-bottom: 7.5%;
}
#article-image-banner img {
  width: 100%;
  margin: 0;
  display: inline-block;
}
#article-image-banner figcaption {
  color: #a4a4a4;
  font-size: 90%;
  line-height: 1;
  font-style: italic;
}
@media (max-width: 599px) {
  #article-image-banner figcaption {
    font-size: 80%;
  }
}
#article-content h1 {
  font-weight: bold;
  font-size: 130%;
  margin-top: 10%;
  margin-bottom: 4%;
}
#article-content h1::before {
  background-color: #084B7F;
  color: #084B7F;
  content: "\2013";
  margin-right: 8px;
}
#article-content h2 {
  font-weight: bold;
  font-size: 110%;
  margin-top: 6%;
  margin-bottom: 3%;
}
#article-content p {
  margin-bottom: 2%;
}
#article-content ul {
  margin-left: 10%;
  margin-bottom: 2%;
}
#article-content ul li {
  list-style: square;
  padding-left: 2%;
}
#article-content ol {
  margin-left: 10%;
  margin-bottom: 2%;
}
#article-content ol li {
  list-style: decimal;
  padding-left: 2%;
}
#article-content a {
  color: #0d75c7;
}
#article-content a:hover {
  color: #85bce8;
}
#article-content figure {
  margin: 3.5% 0;
}
#article-content figure img {
  max-width: 100%;
}
#article-content figure figcaption {
  color: #a4a4a4;
  font-size: 90%;
  line-height: 1;
  font-style: italic;
}
#article-content code:not([class^="language-"]) {
  background-color: #d7d7d7;
  padding: 2px 5px;
  font-family: 'Source Code Pro', monospace;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.highlight-custom {
  margin: 3.5% 0 3.5% -8.82352941%;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.4;
  width: 117.64705882%;
}
.highlight-custom pre {
  padding: 15px;
  white-space: pre;
  overflow: auto;
}
.highlight-custom pre::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
.highlight-custom pre::-webkit-scrollbar-track {
  background: none;
}
.highlight-custom pre::-webkit-scrollbar-thumb {
  background-color: #666666;
}
@media (min-width: 599px) {
  .highlight-custom {
    margin: 3.5% 0 3.5% -21.42857143%;
    width: 142.85714286%;
  }
}
@media (min-width: 900px) {
  .highlight-custom {
    margin: 3.5% 0;
    width: auto;
  }
}
.highlight-custom-header {
  display: block;
  background-color: #084B7F;
  padding: 6px 15px;
  color: #f1f1f1;
}
@media (min-width: 599px) {
  #article-content h1 {
    margin-top: 6.5%;
    margin-bottom: 2.5%;
  }
  #article-content h2 {
    margin-top: 3%;
    margin-bottom: 1.5%;
  }
}
@media (min-width: 900px) {
  #article-content .figures-two-wide {
    display: inline-block;
    vertical-align: top;
    margin: 3.5% 5% 3.5% 0;
    width: 42%;
  }
}
.box-shadow {
  box-shadow: 0.1em 0.1em 0.5em -0.2em #272822;
}
.graph-container {
  height: 300px;
  background-color: #ebebeb;
  border: solid 1px #e4e4e4;
  margin: 3.5% 0;
}
#recent-posts h1 {
  text-align: center;
  padding: 5%;
  font-size: 140%;
  font-weight: bold;
  white-space: nowrap;
}
#recent-posts h1::before {
  background-color: #084B7F;
  color: #084B7F;
  content: "\2013";
  margin-right: 10px;
}
.recent-post-title {
  padding-top: 2%;
  text-align: center;
  line-height: 1.2;
}
.recent-post-title a {
  text-decoration: none;
  color: #3c3c3c;
  padding: 0 2%;
}
.recent-post-title a:hover {
  color: #084B7F;
}
.recent-post {
  position: relative;
  margin: 5% 0;
  padding: 10% 7.5%;
}
.recent-post:first-of-type {
  padding-top: 5%;
}
.recent-post a {
  display: inline-block;
  position: relative;
}
.recent-post img {
  width: 100%;
  display: inline-block;
}
.recent-post-category {
  padding: 2% 6%;
  text-align: center;
  background-color: #084B7F;
  color: #f1f1f1;
  position: absolute;
  top: 0;
  right: 0;
}
.recent-post-date {
  font-size: 80%;
  text-align: center;
  font-style: italic;
  margin-top: 2.5%;
}
.listing-container {
  margin-top: 7.5%;
  font-size: 20px;
}
.post-listing-img-wrapper {
  position: relative;
  display: block;
  width: 100%;
}
.post-listing-img {
  width: 100%;
  height: 100%;
}
.post-listing-details {
  display: block;
  width: 100%;
  padding: 0;
}
.post-listing-date {
  font-size: 80%;
  font-style: italic;
  margin-top: 2%;
}
.post-listing-title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 1.2;
}
.post-listing-title a {
  text-decoration: none;
}
.post-listing-title a:hover {
  color: #084B7F;
}
.post-listing-details p {
  font-size: 80%;
  line-height: 1.4;
}
.post-listing-read-more {
  display: inline-block;
  text-decoration: none;
  padding: 0 2%;
  margin-left: -2%;
  margin-top: 2%;
}
.post-listing-read-more:hover {
  background-color: #e4e4e4;
}
.post-listing-divider:not(:last-of-type) {
  background-color: #084B7F;
  width: 100%;
  height: 4px;
  margin: 10% 0 12% 0;
}
.pagination {
  position: relative;
  margin-top: 5%;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination-button {
  background-color: #084B7F;
  text-decoration: none;
  color: #f1f1f1;
  padding: 0.5em 1em;
  vertical-align: middle;
}
.pagination-button-prev {
  float: left;
}
.pagination-button-next {
  float: right;
}
@media (min-width: 900px) {
  .listing-container {
    margin-top: 5%;
  }
  .post-listing-img-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }
  .post-listing-details {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding-left: 5%;
  }
  .post-listing-date {
    margin: 0;
  }
  .post-listing-divider:not(:last-of-type) {
    width: 60%;
    margin: 5% 20% 7% 20%;
  }
}
