<footer id="page-footer">
    <h1>About Camden</h1>
    <a href="https://www.linkedin.com/in/camden-reslink/"><img id="profile-img" src="/img/profile.png"></a>
    <!--
 -->
    <div id="profile-snippet">
        Camden is currently a software developer at <a href="https://www3.mtb.com/careers/technology-careers">M&T
            Bank</a>. When he isn't spending time with his family, he enjoys programming the full web stack, and
        experimenting with new frameworks/languages. Recently he has been especially interested in functional
        programming and Python. Camden can be contacted via e-mail at
        &#099;&#097;&#109;&#100;&#101;&#110;&#114;&#101;&#115;&#108;&#105;&#110;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;,
        or through his <a href="https://www.linkedin.com/in/camden-reslink/">LinkedIn Profile</a>.
        <br>
        <a href="https://www.linkedin.com/in/camden-reslink/"><img class="social-icon" src="/img/linkedin-icon.png"></a>
        <a href="https://github.com/camdenreslink"><img class="social-icon" src="/img/github-icon.png"></a>
        <a href="https://stackoverflow.com/users/9372178/camden-reslink"><img class="social-icon"
                src="/img/stackoverflow-icon.png"></a>
    </div>
</footer>