<header id="page-header">
    <nav id="primary-nav">
        <span id="logo">
            <a href="/">code.camdenreslink <span class="cursor-white" id="logo-cursor"></span></a>
        </span>
        <a class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        
        <a href="https://stackoverflow.com/users/9372178/camden-reslink"><img class="social-icon-nav" src="/img/stackoverflow-icon.png"></a>
        <a href="https://github.com/camdenreslink"><img class="social-icon-nav" src="/img/github-icon.png"></a>
        <a href="https://www.linkedin.com/in/camden-reslink/"><img class="social-icon-nav" src="/img/linkedin-icon.png"></a>
    </nav>
    <nav id="secondary-nav">
        <ul>
            <li id="{{ if eq .RelPermalink "/" }}selected-category{{ end }}"><a href="/">All</a></li><!--
         --><li id="{{ if hasPrefix .RelPermalink "/dev" }}selected-category{{ end }}"><a href="/dev">Dev</a></li><!--
         --><li id="{{ if hasPrefix .RelPermalink "/data" }}selected-category{{ end }}"><a href="/data">Data</a></li><!--
         --><li id="{{ if hasPrefix .RelPermalink "/math" }}selected-category{{ end }}"><a href="/math">Math</a></li><!--
         --><li id="{{ if hasPrefix .RelPermalink "/misc" }}selected-category{{ end }}"><a href="/misc">Misc</a></li>
        </ul>
    </nav><!--
    --><section id="social-icon-mobile"><!--
        --><a href="https://www.linkedin.com/in/camden-reslink/"><img class="social-icon-mobile" src="/img/linkedin-icon.png"></a><!--
        --><a href="https://github.com/camdenreslink"><img class="social-icon-mobile" src="/img/github-icon.png"></a><!--
        --><a href="https://stackoverflow.com/users/9372178/camden-reslink"><img class="social-icon-mobile" src="/img/stackoverflow-icon.png"></a>
    </section>
</header>