<header id="page-header">
    <nav id="primary-nav">
        <span id="logo">
            <a href="/">code.camdenreslink <span class="cursor-white" id="logo-cursor"></span></a>
        </span>
        <a class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
    <nav id="secondary-nav">
        <ul>
            <li id="{{ if eq .URL "/" }}selected-category{{ end }}"><a href="/">All</a></li><!--
         --><li id="{{ if hasPrefix .URL "/dev/" }}selected-category{{ end }}"><a href="/dev">Dev</a></li><!--
         --><li id="{{ if hasPrefix .URL "/data/" }}selected-category{{ end }}"><a href="/data">Data</a></li><!--
         --><li id="{{ if hasPrefix .URL "/math/" }}selected-category{{ end }}"><a href="/math">Math</a></li><!--
         --><li id="{{ if hasPrefix .URL "/misc/" }}selected-category{{ end }}"><a href="/misc">Misc</a></li>
        </ul>
    </nav>
</header>