<header id="page-header">
    <nav id="primary-nav">
        <span id="logo">
            <a href="/">code.camdenreslink <span class="cursor-white" id="logo-cursor"></span></a>
        </span>
        <a class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </nav>
    <nav id="secondary-nav">
        <ul>
            <li id="selected-category"><a href="/">All</a></li><!--
         --><li><a href="/dev">Dev</a></li><!--
         --><li><a href="/data">Data</a></li><!--
         --><li><a href="/math">Math</a></li><!--
         --><li><a href="/misc">Misc</a></li>
        </ul>
    </nav>
</header>