<div class="highlight-custom">
        <div class="highlight-custom-header">
                {{ if .Get "header-text" }}
                        {{.Get "header-text"}}
                {{ else }}
                        {{.Get "language"}}
                {{ end }}
        </div>
        {{ if .Get "options" }}
                {{ highlight (trim .Inner "\n\r") (.Get "language") (.Get "options") }}
        {{ else }}
                {{ highlight (trim .Inner "\n\r") (.Get "language") "" }}
        {{ end }}
</div>