{{ $code := trim (replace .Inner "\n" "") "\n\r" }}
<div class="highlight-custom">
        <div class="highlight-custom-header">
                {{ if .Get "header-text" }}
                        {{ safeHTML (replace (.Get "header-text") "\\" "\\<wbr>") }}
                {{ else }}
                        {{ .Get "language" }}
                {{ end }}
        </div>
        {{ if .Get "options" }}
                {{ highlight $code (.Get "language") (.Get "options") }}
        {{ else }}
                {{ highlight $code (.Get "language") "" }}
        {{ end }}
</div>